body {
    background-color: #111;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-family: sans-serif;
    user-select: none;
}

.start-box {
    width: 70vw;
    max-width: 650px;
    max-height: 550px;
    min-height: 250px;
    height: 50vh;
    margin-top: 20vh;
    background-color: #2f2e2e44;
    flex-direction: column;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 8px;
}

.start-box button {
    margin-top: 25px;
    color: #b6adff;
    border: none;
    background-color: #3C3B51;
    width: 140px;
    height: 38px;
    font-weight: bold;
    border-radius: 4px;
    cursor: pointer;
}

.start-box button:hover {
    background-color: #A49FDF;
    color: white;
}
.start-box img{
    pointer-events: none;
    width: 70px;
    height: 70px;
}